h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-outside: 25px;
  font-size: 20pt;
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 35%;
}

.comment-author {
  font-size: 16pt;
  margin-bottom: 12px;
  line-height: 22px;
  font-weight: 500;
}

a, address, area, aside, basefont, big, body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, html, img, label, p, small, span, sub, sup, table, td, tr {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  font-size: 16px;
  color: #707679;
  padding-bottom: 5px;
  line-height: 20px;
  font-family: 'Muli', sans-serif;
}

li, ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-content {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 10px 0 15px 0;
  border-radius: 6px;
  font-family: 'Muli', sans-serif;
}

.comment-body footer {
  background: none;
  float: none;
  padding: inherit;
}

footer {
  /*background: #303030;*/
  width: 100%;
  padding: 15px 60px 20px;
  float: left;
  /*color: #989898;*/
}

.comment-metadata {
  display: none;
}

.comments {

}

.comment-list {

  margin-right: 40%;
}
