<div id="comments" class="comments-area">
  <h2 class="comments-title">
    {{comments.length}} Thoughts On Posts
  </h2>
  <br>
  <ol class="comment-list">
    <div *ngFor="let comment of comments">
      <li class="comment even thread-even depth-1">
        <article class="comment-body">
          <footer class="comment-meta">
            <div class="comment-author vcard">
              <b class="fn">{{comment.userLogin}} </b>
              <span class="says">says:</span>
            </div>
            <div class="comment-content">
              <p>{{comment.text}}</p>
            </div>
          </footer>

        </article>
      </li>
    </div>
  </ol>
</div>
