header {
  font-family: 'Muli', sans-serif;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}


html {
  font-size: 14px;
}



button {
  background: #b0ff57;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  padding: 12px 12px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}





