body, h3 {
  font-family: 'Muli', sans-serif;

  white-space: normal;
  word-break: break-all;
  padding: 30px;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-bottom: 0;
}
h4 {
  position: center;
  text-align: justify-all;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  align-items: center;
  align-content: center;
}
.grid {
  margin: 0;
  align-items: center;
  align-content: center;
}
.col-1-4 {
  width: 25%;
  text-align: center;
  align-items: center;
  align-content: center;

}

.module {
  /*display: flex;*/
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  max-height: 600px;
  min-height: 110px;
  min-width: 120px;
  background-color: #32cb00;
  border-radius: 6px;
  align-content: center;
  align-items: center;
  margin: auto;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #32cb00;
}
.grid-pad {
  padding: 10px 0;
  align-content: center;
  align-items: center;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
    }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

ul {
  list-style-type: none;
}
.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
  margin-outside: 15px;
  margin: 15px;
}


