<section class="banner-section">
</section>
<section class="post-content-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
        <button class="btn btn-danger" *ngIf="auth.getUserRole() === 'Admin'" (click)="deletePost()">Delete post</button><br><br>
        <h1 class="text">{{post.title}}</h1>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">




        <div *ngIf="post.videoUrl !== 'undefined' && post.videoUrl !== null" >
          <iframe width="560" height="315" [src]='safeUrl'  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

        <div *ngIf="post.fileLink !== 'undefined' && post.fileLink !== null && role !== 'Junior'">
          <a href="{{post.fileLink}}" class="lead">Get Tabs From Author</a>

        </div>
        <br>
        <div *ngIf="role === 'Senior' || role === 'Admin'">
          <form ngForm="#commentForm">
            <div class="form-group">
              <textarea placeholder="Leave your thoughts..." [(ngModel)]="commentText" type="text" class="form-control" id="text"
                     name="text" rows="3" style="width: 560px">
              </textarea>
            </div>

            <button type="submit" (click)="addComment()" class="btn btn-success">Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>





<section class="footer-link"></section>
