<div class="wrapper row0">
</div>
<div class="bgded overlay" style="background-image:url('');">
  <div id="breadcrumb" class="hoc clear">
    <h6 class="heading"> course.author.name }}</h6>
  </div>
</div>
<div class="wrapper row3">
  <div class="wrapper row2" style="background-color: #FFFFFF; border:none" >
    <nav id="mainav" class="hoc clear">
      <ul class="clear">
        <li style="align-self: center"><a href="#">Overview</a></li>
        <li style="align-self: center"><a href="#">Posts</a></li>
        <div class="fl_right">
          <button class="btn red" type="button" onclick="window.location.href = '#'" style="align-self: center"><span>Become a patron</span></button>
        </div>
      </ul>
    </nav>
  </div>
  <hr style="color: #dddddd">
  <main class="hoc container clear">
    <div class="content three_quarter first">
      <div id="post">
        <h1> post.title}}</h1>
      </div>
      <div id="comments">
        <h2>Comments</h2>
        <ul>
          <template>
            <li>
              <article>
                <header>
                  <figure class="avatar"><img src="" alt=""></figure>
                  <address>
                    By <a href="#">comment.author.name}}</a>
                  </address>
                  <time>comment.datetime}}</time>
                </header>
                <div class="comcont">
                  <p>comment.text}}</p>
                </div>
              </article>
            </li>
          </template>
        </ul>
      </div>
    </div>
    <div class="sidebar one_quarter">
      <h6>Tiers</h6>
      <nav class="sdb_holder">
        <ul style="list-style: none">
          <template >
            <li><a href="#" style=""> tier.name }}</a></li>
          </template>
        </ul>
      </nav>
    </div>
  </main>
</div>
<div class="wrapper row5" style="border: none">
  <div class="clear">
  </div>
  <hr style="color: #dddddd" >
  <div id="copyright" class="hoc clear" style="border: none">
    <p class="fl_left">2019 Spring Task 2 Patreon</p>
  </div>
</div>

