

section {
  width: 100%;
  float: left;
}

/*.banner-section {*/
  /*background-image: url("https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg");*/
  /*background-size: cover;*/
  /*height: 380px;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*background-position: 0;*/
/*}*/

.post-title-block {
  /*margin: 20px ;*/
  font-family: 'Muli', sans-serif;
}

.post-title-block h1 {
  font-family: 'Muli', sans-serif;
  color: #000000;
  font-size: 30pt;
  text-transform: capitalize;
}




.footer-link {
  padding: 80px;
  margin: 30px;
}

a {
  text-decoration: none;

}

.btn-danger {
  text-transform: uppercase;
}

textarea {
  resize: none;
  wrap: "off";
  overflow: auto;
  outline: none;
  -moz-appearance: none;
  border-radius: 6px;
}



button {
  border-radius: 6px;
}
 ul, li{
   list-style-type: none;
 }
