<div class="container cta-100 ">
  <div class="container">
    <h2>Choose subscription plan:</h2>
    <div class="row blog">
      <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <div class="item-box-blog-date bg-blue-ui white"></div>

                    </div>
                    <div class="item-box-blog-body">

                      <div class="item-box-blog-heading">

                          <h5>Junior Level</h5>

                      </div>

                      <div class="item-box-blog-data" style="padding: 15px;">
                        <!--<p><i class="fa fa-user-o"></i> Buy for<i class="fa fa-comments-o"></i> {{roles[1].price}}</p>-->
                      </div>
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos!<br><br></p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(2)" style="color: #FFFFFF">Become Junior</button></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <div class="item-box-blog-date bg-blue-ui white"></div>
                    </div>
                    <div class="item-box-blog-body">
                      <div class="item-box-blog-heading">

                          <h5>Middle Level</h5>

                      </div>
                      <div class="item-box-blog-data" style="padding: 15px;">
                        <!--<p><i class="fa fa-user-o"></i>Buy for<i class="fa fa-comments-o"></i> {{roles[2].price}}</p>-->
                      </div>
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos and download tabs!</p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(3)" style="color: #FFFFFF">Become Middle</button></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <div class="item-box-blog-date bg-blue-ui white"></div>
                    </div>
                    <div class="item-box-blog-body">
                      <div class="item-box-blog-heading">

                          <h5>Senior Level</h5>

                      </div>
                      <div class="item-box-blog-data" style="padding: 15px;">
                        <!--<p><i class="fa fa-user-o"></i>Buy for<i class="fa fa-comments-o"></i> {{roles[3].price}}</p>-->
                      </div>
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos and download tabs and ask questions!</p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(4)" style="color: #FFFFFF">Become Senior</button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
