<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->


<div class="container cta-100 ">
  <div class="container">
    <h2>Choose subscription plan:</h2>
    <div class="row blog">
      <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <!--Date-->
                      <div class="item-box-blog-date bg-blue-ui white"></div>
                      <!--Image-->
                      <!--<figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>-->
                    </div>
                    <div class="item-box-blog-body">
                      <!--Heading-->
                      <div class="item-box-blog-heading">
                        <div  tabindex="0">
                          <h5>Junior Level</h5>
                        </div>
                      </div>
                      <!--Data-->
                      <div class="item-box-blog-data" style="padding: 15px;">
                        <p><i class="fa fa-user-o"></i> Buy for<i class="fa fa-comments-o"></i> {{roles[1].price}}</p>
                      </div>
                      <!--Text-->
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos!<br><br></p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(2)" style="color: #FFFFFF">Become Junior</button></div>
                      <!--Read More Button-->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <!--Date-->
                      <div class="item-box-blog-date bg-blue-ui white"></div>
                      <!--Image-->
                      <!--<figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>-->
                    </div>
                    <div class="item-box-blog-body">
                      <!--Heading-->
                      <div class="item-box-blog-heading">
                        <div  tabindex="0">
                          <h5>Middle Level</h5>
                        </div>
                      </div>
                      <!--Data-->
                      <div class="item-box-blog-data" style="padding: 15px;">
                        <p><i class="fa fa-user-o"></i>Buy for<i class="fa fa-comments-o"></i> {{roles[2].price}}</p>
                      </div>
                      <!--Text-->
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos and download tabs!</p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(3)" style="color: #FFFFFF">Become Middle</button></div>
                      <!--Read More Button-->
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item-box-blog">
                    <div class="item-box-blog-image">
                      <!--Date-->
                      <div class="item-box-blog-date bg-blue-ui white"></div>
                      <!--Image-->
                      <!--<figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>-->
                    </div>
                    <div class="item-box-blog-body">
                      <!--Heading-->
                      <div class="item-box-blog-heading">
                        <div tabindex="0">
                          <h5>Senior Level</h5>
                        </div>
                      </div>
                      <!--Data-->
                      <div class="item-box-blog-data" style="padding: 15px;">
                        <p><i class="fa fa-user-o"></i>Buy for<i class="fa fa-comments-o"></i> {{roles[3].price}}</p>
                      </div>
                      <!--Text-->
                      <div class="item-box-blog-text">
                        <p>You'll be able to play videos and download tabs and ask questions!</p>
                      </div>
                      <div class="mt"><button class="btn btn-success" (click)="buySubscription(4)" style="color: #FFFFFF">Become Senior</button></div>
                      <!--Read More Button-->
                    </div>
                  </div>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->

            <!--.item-->
          </div>
          <!--.carousel-inner-->
        </div>
        <!--.Carousel-->
      </div>
    </div>
  </div>
</div>


<button (click)="buySubscription(1)" value="Admin"></button>
