<form>
  <br>
  <div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title"
             name="title">
    </div><br>
    <div class="form-group">
      <label for="videoUrl">Video Link:</label>
      <input [(ngModel)]="video" type="text" class="form-control" id="videoUrl"
             name="videoUrl">
    </div><br>
    <div class="form-group">
      <label for="fileLink">File Link:</label>
      <input [(ngModel)]="file" type="text" class="form-control" id="fileLink"
             name="fileLink">
      <br><br>
      <button type="submit" (click)="Add()" class="btn btn-success">Create post</button>
    </div>
  </div>
  <br>

</form>
