<form>
  <div>
    <div class="form-group">
      <label for="title">Title</label>
      <input [(ngModel)]="title" type="text" class="form-control" id="title"
             name="title">
    </div>
    <div class="form-group">
      <label for="video">Video</label>
      <input [(ngModel)]="video" type="text" class="form-control" id="video"
             name="title">
    </div>
    <div class="form-group">
      <label for="file">File Path</label>
      <input [(ngModel)]="file" type="text" class="form-control" id="file"
             name="title">
    </div>
  </div>
  <button type="submit" (click)="Add()" class="btn btn-success">Submit</button>
</form>
